ROOT=${ROOT}

AFDB_FOLDER=afdb
AFDB_FOLDER_2=afdb2
AFDB_FOLDER_3=afdb3
CSDB_FOLDER=csdb
CS2DB_FOLDER=cs2db
ENTITY_FOLDER=data/entities
STATGROUP_FOLDER=data/groups
GRAPHDATABASE_FOLDER=data/graphdatabase
STATGROUP_DATA_FOLDER=data
DATA_ALL_FOLDER=data/all
INVENTORY_FOLDER=inventory
USER_FOLDER=users
SHARED_FOLDER=shared
ACCEPTANCETEST_FOLDER=conf/arbrrt
WORK_FOLDER=data/work

CONFIG_CRITERIA=global/configuration/arbrrt/provisioning/criteria
CONFIG_FILTER=global/configuration/arbrrt/provisioning/filter
CONFIG_HYPERLINK=global/configuration/arbrrt/provisioning/hyperlink
CONFIG_BOOKMARK_DIRECT_REPORT=global/configuration/arbrrt/provisioning/bookmarkDirectReport
CONFIG_INDICATOR=global/configuration/arbrrt/provisioning/indicator
CONFIG_INPUTFORMAT=global/configuration/arbrrt/provisioning/inputFormat
CONFIG_INPUTSOURCE=global/configuration/arbrrt/provisioning/inputSource
CONFIG_OFFER=global/configuration/arbrrt/provisioning/offer
CONFIG_PARAMTYPE=global/configuration/arbrrt/provisioning/paramType
CONFIG_PROXY=global/configuration/arbrrt/provisioning/proxy
CONFIG_REPORT=global/configuration/arbrrt/provisioning/report
CONFIG_REPORTCONFIG=global/configuration/arbrrt/provisioning/reportConfig
CONFIG_REPORTINPUT=global/configuration/arbrrt/provisioning/reportInput
CONFIG_SOURCECLASS=global/configuration/arbrrt/provisioning/sourceClass
CONFIG_SOURCEPROXY=global/configuration/arbrrt/provisioning/sourceProxy
CONFIG_TYPESUBTYPE=global/configuration/arbrrt/provisioning/typeSubtype

CONFIG_PROVISIONING=global/configuration/arbrrt/provisioning
CONFIG_DIVERS=global/configuration/arbrrt/divers
CONFIG_INVENTORY=global/configuration/arbrrt/inventory
SCHEMA=global/configuration/arbrrt/schema
PROVISIONING=provisioning
EXPORT=export

SCE_FOLDER=sce
EQUANT_FOLDER=equant
ALL_FOLDER=all

MSCOS_INPUT=csdb
