<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li routerLinkActive="active"><a class="nav-link" routerLink="listeOffre">I- Offres offerAndOption</a></li>
      <li routerLinkActive="active"><a class="nav-link" routerLink="listeOffreOption">II- Éditer rapport de statistiques</a></li>
      <li routerLinkActive="active"><a class="nav-link" routerLink="offreFormulaire">III- Editer fichier</a></li>
    </ul>
    <div class="logo">
      <img style ="width:25%; margin-top:5px; margin-right:20px; float:right " src="assets/editeur.png" />
    </div>
  </div>
</nav>
