button {
  text-align: center;
  display: inline-block;
  margin-right : .3%;
}
output{
  color : black;
  margin-top: 5px;
  font-size : 12.5pt;
}
h1{
	margin-top: 30px;
	margin-bottom: 10px;
	color : black;
	font-weight: bold;
}
pre{
	color : black;
	width: 100%;
	margin-bottom: 20px;
	background: white;
	border : 0px;
	font-size : 14pt;
}
input{
	margin-top: 10px;
}
div{
   margin-left : auto;
   margin-right : auto;
   float : left;
   margin-top : auto;
   margin-bottom: auto;
   font-size : 12pt;
   color: black;
}
p1{
  font-weight: bold;
  color : red;
}
table {
	border: medium solid #000000;
	width: 100%;
	padding-left: 40%;
}
label{
   font-size : 15pt;
}
